<img src="https://www.digitalvidya.com/wp-content/uploads/2013/05/Digital-Vidya-Website-Logo-HD-2-300x95.png">

# Creating string

Lets begin with simple quote

"Success is not final, failure is not fatal: it is the courage to continue that counts."

**Q.1 Print the above quote**

In [1]:
## START CODE HERE
s="Success is not final, failure is not fatal: it is the courage to continue that counts."

print(s)
## END CODE HERE

Success is not final, failure is not fatal: it is the courage to continue that counts.


<table>
  <tr>
  <td>**Expected Output:**<td>
    <td>Success is not final, failure is not fatal: it is the courage to continue that counts.</td>
  </tr>
</table>

**Q.2 Create a string - I'll have coffee **
<br>TIP - Use the right quotes so that it will print the apostrophe correctly. (Keep the exception or error in mind)

By the way, exception in object oriented programming means Errors detected during execution are called exceptions and are not unconditionally fatal.
<br> For further info : https://docs.python.org/3/tutorial/errors.html
<br> Its fine if you can't understand this right now you will learn Exception handling later.

In [2]:
## START CODE HERE
print("I'll have coffee")

## END CODE HERE

I'll have coffee

<table>
  
  <tr>
    <td>**Expected Output:**<td>
    <td>I'll have coffee</td>
  </tr>
</table>

# String Indexing

We have created a string variable 's' for you

In [4]:
s = "Welcome to Digital Vidya"
s

'Welcome to Digital Vidya'

**Q.3 Print first character (There's something special about indexing in Python)**

In [5]:
## START CODE HERE
print(s[0])

## END CODE HERE

W


       
<table>
  
  <tr>
    <td>**Expected Output:**<td>
    <td>W</td>
  </tr>
</table>

**Q.4 Print the last character using forward index**

In [7]:
## START CODE HERE

print(s[(len(s)-1)])


## END CODE HERE

a


       
<table>
  
  <tr>
    <td>**Expected Output:**<td>
    <td>a</td>
  </tr>
</table>

**Q.5 Print the second last character using backward index**

In [9]:
## START CODE HERE

print(s[-2])
## END CODE HERE

y


       
<table>
  
  <tr>
    <td>**Expected Output:**<td>
    <td>y</td>
  </tr>
</table>

**Q.6 Print alternating characters in s starting from first character (Skip one character at a time)**

In [11]:
## START CODE HERE
print(s[::2])

## END CODE HERE

Wloet iia iy


       
<table>
  
  <tr>
    <td>**Expected Output:**<td>
    <td>Wloet iia iy</td>
  </tr>
</table>

**Q.7 Print s in reverse**

In [12]:
## START CODE HERE

print(s[::-1])
## END CODE HERE

aydiV latigiD ot emocleW


       
<table>
  
  <tr>
    <td>**Expected Output:**<td>
    <td>aydiV latigiD ot emocleW</td>
  </tr>
</table>

# String Properties

In [13]:
s = 'Welcome to Digital Vidya'
s

'Welcome to Digital Vidya'

**Q.8 Change s to "Welcome to Digital Vidya, this is your week 2 assignment" and print s**

In [15]:
## START CODE HERE
s=s+", this is your week 2 assignment"
print(s)
## END CODE HERE

Welcome to Digital Vidya, this is your week 2 assignment, this is your week 2 assignment

<table>
  
  <tr>
    <td>**Expected Output:**<td>
    <td>Welcome to Digital Vidya, this is your week 2 assignment</td>
  </tr>
</table>

# String Methods

In [1]:
s = "Welcome to Digital Vidya, this is your week 2 assignment"

s

'Welcome to Digital Vidya, this is your week 2 assignment'

**Q.9 Convert complete string to UPPER case and print the resultant string**

In [42]:
## START CODE HERE


## END CODE HERE

<table>
  
  <tr>
    <td>**Expected Output:**<td>
    <td>WELCOME TO DIGITAL VIDYA, THIS IS YOUR WEEK 2 ASSIGNMENT</td>
  </tr>
</table>

**Q.10 Convert complete string to lower case and print the resultant string**

In [43]:
## START CODE HERE


## END CODE HERE


       
<table>
  
  <tr>
    <td>**Expected Output:**<td>
    <td>welcome to digital vidya, this is your week 2 assignment</td>
  </tr>
</table>

**Q.11 What is the length of s?**

In [3]:
## START CODE HERE


## END CODE HERE

<table>
  
  <tr>
    <td>**Expected Output:**<td>
    <td>56</td>
  </tr>
</table>

**Q.12 Split the sentence "Welcome to Digital Vidya, this is your week 2 assignment" at the ',' using appropriate method and print the output.**

In [44]:
## START CODE HERE


## END CODE HERE

<table>
  <tr>
    <td>**Expected Output:**<td>
    <td>['Welcome to Digital Vidya', ' this is your week 2 assignment']</td>
  </tr>
</table>

# Congratulations

You are through the second assignment of the Basic Python Programming Course.
<br>Good understanding of String datatype will help you a lot in your data science career.
<br>Further in the course we'll try to enhance your knowledge and understanding of strings by introducing regular expressions and other advanced concepts.
<br>Buckle up!
<br>You are doing very well.
<br>See you in the next chapter.